{% extends "base.html" %}

{% load custom_markdown %}
{% block content %}
{% load disqus_tags %}

<title>About Me</title>

<h2>About Me</h2>

<hr />

<h3>个人信息</h3>

<ul>
<li>苏铃峰 / 男 / 1994</li>
<li>本科生 / 厦门大学机电工程系</li>
<li>技术博客: <a href="http://sleweb.com:8000">call-fold之家</a></li>
<li>Github: <a href="http://github.com/call-fold">call-fold</a></li>
</ul>

<h3>联系方式</h3>

<ul>
<li>Email: slf@568925701@gmail.com</li>
<li>V2EX: <a href="https://www.v2ex.com/member/CallFold">CallFold</a></li>
</ul>

<h3>个人书单</h3>

<ul>
<li>2016年在读书目: 《黑客与画家》、《Go语言程序设计》、《计算机网络（自顶向下方法）》</li>
<li>2015年已读书目: 《C++ Prime》、《剑指offer》</li>
</ul>

<h3>技术栈</h3>

<ul>
<li>C++, MPI并行计算</li>
<li>Lua, JavaScript (HTML5游戏方向)</li>
<li>正在学习 Python, Django, Go</li>
</ul>

<hr />

{% disqus_show_comments %}
{% disqus_num_replies %}
{% disqus_recent_comments shortname num_items excerpt_length hide_avatars avatar_size %}

<div id="disqus_thread"></div>

{% endblock %}
