<!doctype html>

{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a blog page with a list of posts.">
    <meta name="baidu-site-verification" content="0O8F7RJJRR"/>
    <meta name="baidu-site-verification" content="AOv5DTce5d"/>
    <title>call-fold之家</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/paraiso-light.css' %}">
</head>
<body>
<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
            <h1 class="brand-title">call-fold之家</h1>
            <h2 class="brand-tagline">墨迹 - Ink Marks</h2>
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="button-success pure-button" href="/">主页</a>
                    </li>
                    <li class="nav-item">
                        <a class="button-success pure-button" href="{% url 'archives' %}">所有文章</a>
                    </li>
                    <br>
                    <li class="nav-item">
                        <a class="pure-button" href="https://github.com/call-fold">Github</a>
                    </li>
                    <li class="nav-item">
                        <a class="button-success pure-button" href="{% url "sites" %}">Sites</a>
                    </li>
                    <br>
                    <li class="nav-item">
                        <a class="button-success pure-button" href="{% url 'about_me' %}">About Me</a>
                    </li>
                    <li class="nav-item">
                        <a class="button-success pure-button" href="{% url "RSS" %}">RSS</a>
                    </li>
                    <br>
                    <li class="nav-item">
                        <a class="button-success pure-button" href="{% url "laboratory" %}">实验室</a>
                    </li>
                    <br>
                    <br>
                    <form class="pure-form" action="/search/" method="get">
                        <input class="pure-input-1-2" type="text" name="s" placeholder="search">
                    </form>
                </ul>
            </nav>
        </div>
    </div>

    <div class="content pure-u-1 pure-u-md-3-4">
        <div>
            {% block content %}
            {% endblock %}
            <div class="footer">
                <div class="pure-menu pure-menu-horizontal pure-menu-open">
                    <ul>
                        <li><a href="http://slfweb.com/aboutme">About Me</a></li>
                        <li><a href="https://www.facebook.com/lingfeng.su.5">Facebook</a></li>
                        <li><a href="http://github.com/yahoo/pure/">About Pure</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>

<script>

    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
    /*
     var disqus_config = function () {
     this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
     this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
     };
     */
    (function () { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = '//http-slfweb-com.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
    Disqus.</a></noscript>

<!-- 测试Disqus异步 Start-->
{#<!-- Disqus的js代码 Start-->#}
{#<script type="text/javascript">#}
{#    var disqus_shortname = 'http-slfweb-com'; // required: replace example with your forum shortname#}
{#    function toggleDisqusComments(container) {#}
{#        if (jQuery(container).has("div").length > 0) {#}
{#            jQuery(container).empty();#}
{#            return;#}
{#        }#}
{#        var disqus_shortname = '{{ site.disqus.shortname }}';#}
{#        var disqus_identifier = '{{page.id | remove:'/'}}';#}
{#        var disqus_identifier = '{{page.id}}';#}
{#        var disqus_title = '{{page.title}}';#}
{#        var disqus_url = 'http://slfweb.com{{page.url}}';#}
{#        var dsq = document.createElement('script');#}
{#        dsq.type = 'text/javascript';#}
{#        dsq.async = true;#}
{#        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';#}
{#        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);#}
{#    }#}
{#</script>#}
{#<!-- 以下代码用于获取Disqus的评论条数 -->#}
{##}
{#<script type="text/javascript">#}
{#    /* * * CONFIGURATION VARIABLES * * */#}
{#    var disqus_shortname = 'http-slfweb-com';#}
{##}
{#    /* * * DON'T EDIT BELOW THIS LINE * * */#}
{#    (function () {#}
{#        var s = document.createElement('script');#}
{#        s.async = true;#}
{#        s.type = 'text/javascript';#}
{#        s.src = '//' + disqus_shortname + '.disqus.com/count.js';#}
{#        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);#}
{#    }());#}
{#</script>#}
{##}
{#<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>#}
{#</noscript>#}
{#<!-- Disqus的js代码 End-->#}
