{% extends "base.html" %}

{% load custom_markdown %}
{% block content %}
    {% load disqus_tags %}

    <title>call-fold之家</title>

    <div class="posts">
        {% for post in post_list %}
            <section class="post">
                <header class="post-header">
                    <h2 class="post-title"><a href="{% url "detail" id=post.id %}">{{ post.title }}</a></h2>

                    <p class="post-meta">
                        Time: <a class="post-author" href="#">{{ post.date_time |date:"Y M d" }}</a> <a
                            class="post-category post-category-js"
                            href="{% url "search_tag" tag=post.category %}">{{ post.category|title }}</a>
                    </p>
                </header>

                <div class="post-description">
                    <p>
                        {{ post.content|custom_markdown|truncatewords_html:50 }}
                    </p>
                </div>
                <a class="pure-button" href="{% url "detail" id=post.id %}">Read More >>> </a>
            </section>
        {% endfor %}

        {% if post_list.object_list and post_list.paginator.num_pages > 1 %}
            <div>
                <ul class="pager">
                    {% if post_list.has_previous %}
                        <li><a href="?page={{ post_list.previous_page_number }}">上一页</a></li>
                    {% endif %}

                    {% if post_list.has_next %}
                        <li><a href="?page={{ post_list.next_page_number }}">下一页</a></li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    </div><!-- /.blog-post -->

    {#    {% disqus_show_comments %}#}
    {#    {% disqus_num_replies %}#}
    {#    {% disqus_recent_comments shortname num_items excerpt_length hide_avatars avatar_size %}#}
    {#    <div id="disqus_thread"></div>#}

    <!-- 测试Disqus异步 Start-->
    {#    <div id="disqus_container">#}
    {#        <div style="margin-bottom:20px" class="right"></div>#}
    {##}
    {#        <a href="#comment-disqus" class="comment" onclick="toggleDisqusComments('#disqus_thread');">#}
    {#            查看<strong>Disqus</strong>评论#}
    {#        </a><span class="comment-count">（<a href="http://slfweb.com{{ page.url }}#disqus_thread" style="font-size:18px;">0</a>）</span>#}
    {##}
    {#        <div id="disqus_thread"></div>#}
    {#    </div>#}

{% endblock %}
