{% extends "base.html" %}

{% load custom_markdown %}
{% block content %}
{% load disqus_tags %}

<title>Sites</title>

<h1><strong>Sites</strong></h1>

<hr />

<h3><strong>常用</strong></h3>

<ul>
<li><a href="http://tool.oschina.net/">开源中国在线工具集</a></li>
<li><a href="http://stackoverflow.com/questions">stackoverflow</a></li>
</ul>

<h3><strong>Java</strong></h3>

<ul>
<li><a href="https://docs.oracle.com/javase/7/docs/api/">Java7 API</a></li>
<li><a href="http://www.ibm.com/developerworks/learn/java/index.html">IBM developerWorks : Java development overview</a></li>
<li><a href="https://dzone.com/java-jdk-development-tutorials-tools-news">Javalobby | The heart of the Java developer community</a></li>
<li><a href="https://www.zhihu.com/people/rednaxelafx/answers/marked">知乎R大</a></li>
<li><a href="http://ifeve.com/">并发编程网</a></li>
<li><a href="http://www.cnblogs.com/vamei/tag/Java/">Vamei的博客</a></li>
</ul>

<h3><strong>Hadoop</strong></h3>

<ul>
<li><a href="http://hadoop.apache.org/docs/current/">Apache Hadoop</a> </li>
<li><a href="https://hadoop.apache.org/docs/r2.7.2/api/">Apache Hadoop Main 2.7.2 API</a></li>
<li><a href="http://dongxicheng.org/">董的博客</a></li>
<li><a href="http://fengshenwu.com/blog/">阿里封神</a></li>
<li><a href="http://www.binospace.com/">姜冰的博客</a></li>
<li><a href="http://www.flyne.org/">Flyne</a></li>
<li><a href="http://www.aboutyun.com/">About云</a></li>
</ul>

<h3><strong>Linux</strong></h3>

<ul>
<li><a href="http://linux.vbird.org/">鳥哥的 Linux 私房菜</a></li>
<li><a href="http://man.linuxde.net/">Linux命令大全</a></li>
<li><a href="http://net.pku.edu.cn/~yhf/linux_c/">Linux C Function</a></li>
</ul>

<h3><strong>Python</strong></h3>

<ul>
<li><a href="https://docs.python.org/3.4/">Python 3.4.5 documentation</a></li>
<li><a href="http://www.liaoxuefeng.com/wiki/0014316089557264a6b348958f449949df42a6d3a2e542c000">廖雪峰Python3教程</a></li>
<li><a href="http://andrewliu.in/tags/Python/">Andrew Liu的博客</a></li>
<li><a href="https://laike9m.com/blog/">laike9m's blog</a></li>
</ul>

<h3><strong>C++</strong></h3>

<ul>
<li><a href="http://en.cppreference.com/w/Main_Page">cppreference</a></li>
</ul>

<hr />

{% disqus_show_comments %}
{% disqus_num_replies %}
{% disqus_recent_comments shortname num_items excerpt_length hide_avatars avatar_size %}

<div id="disqus_thread"></div>

{% endblock %}